* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  background: #130f40;
}
.entryPage{
  color: white;
  align-items: center;
  text-align: center;

}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.memory-game {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columns */
  grid-template-rows: repeat(4, 1fr); /* 4 rows */
  gap: 5px; /* Add some gap between cards */
  perspective: 1000px;
  align-items: center; /* Vertically center cards within each row */
  justify-items: center; /* Horizontally center cards within each column */
}

.memory-card {
  width: 100%; /* Adjust to your desired width */
  height: 100%; /* Adjust to your desired height */
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.memory-card:active {
  
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face {
  width: 100%;
  height: 100%;

  position: absolute;
  border-radius: 5px;
  background: #30336b;
  backface-visibility: hidden;
  object-fit: fill;
  transform: rotateY(180deg);
}
.back-face {
  width: 100%;
  height: 100%;
  padding: 1px;
  position: absolute;
  border-radius: 5px;
  background: #30336b;
  backface-visibility: hidden;
  object-fit: contain;
}
